.form-pswdgen {
  width: 80%;
}

.form-ctner {
  display: flex;
  justify-content: center;
}

.user-xtras{
	padding: 25px 0 0 0;
}

.user-xtras a.btn {
	border: 1px solid;
	margin: 0 0 10px 0;
}

.user-xtras a.btn:hover {
	text-decoration: none;
}