.wdash-cover {
    /* parallax */
    background-image: url("../images/app_bg_image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: ;
  }
  .dsh-ctner{padding: 100px 0 0 0;}
  .inner-ctner{padding: 10px;}
  .padded-ctner{margin: 50px 0 0 0;}
  .ct-img, .cr-cond-icon{ width: 100%; }
  .dv-border { border: solid 2px black;}
  .ct-img-ctner {
      display: flex;
      justify-content: center;
  }
  .local-hr-forecast, .cr-conditions{ display: flex; }
  .cr-conditions { text-align: center;}