.cod-quiz {
  /* parallax */
  background-image: url("../images/bg-masthead.jpg");
  height: 760px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: ;
}

.center-ctner {
  background-color: #ffffff94;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-centered {
  /* display: inherit;
  flex-direction: column;
  align-items: center;
  text-align: center;*/
}

.user-corner {
  display: flex;
  justify-content: flex-end;
}

.user-corner h5 {
  background-color: #ffffff94;
  border-radius: 10px;
  /* -webkit-box-shadow: 2px 2px 13px -6px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 2px 2px 13px -6px rgba(0, 0, 0, 0.63);
  box-shadow: 2px 2px 13px -6px rgba(0, 0, 0, 0.63); */
  padding: 5px;
}

.no-visible {
  display: none;
}

.visible {
  display: block;
}

.question-card {
  /* display: none; */
}
